.NotFound {
  width: 100%;
  text-align: center;
  background-color: #0f273d;
  border-bottom: 2px solid #0c2033;
  padding: 40px 0px;
}

.NotFound-title {
  font-size: 2em;
  font-weight: 400;
  color: #9cb3c9;
  padding: 10px 0px;
}

.NotFound-message {
  color: #9cb3c9;
}

.NotFound-link {
  display: inline-block;
  margin-top: 40px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #9cb3c9;
  border-radius: 4px;
  padding: 18px;
  transition: border .2s;
}

.NotFound-link:hover {
  border: 1px solid #fff;
}
